@media (max-width: 576px) {
    #BackPacking {
        height: 68.5vh;
    }
    .backpacking_image {
        width: 100%;
        height: 170px;
        background-image: url("../images/Rectangle\ 1.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .logo {
        margin-left: 23px;
    }
    .personal_info {
        margin-right: 0px;
        width: 70px;
        height: 34px;
    }
    .backpacking_data {
        width: 305px;
        height: 305px;
        left: 10%;
        top: 190px;
    }
    .data_title {
        text-align: center;
    }
    .data_title h1 {
        width: 306px;
        height: 85px;
        margin-top: 12px;
        line-height: 30px;
        font-size: 19px;
        margin-left: 0px;
    }
    .data_text {
        margin-top: 0px;
        width: 295px;
        height: 96px;
        margin-left: 0px;
        text-align: center;
    }
    .data_text p {
        font-size: 14px;
        line-height: 24px;
    }
    .explore_btn {
        margin: 36px auto;
    }
    .backpacking_easycamper_cards {
        margin-left: 0px;
    }
    .easy_camper_cards {
        display: grid;
        column-count: 3;
        gap: 41px;
        grid-template-columns: none;
    }
    .camper_card img {
        width: 100%;
        margin: 0px auto;
    }
    .camper_card_data {
        text-align: center;
    }
    #MakingFacility {
        margin-top: 190px;
    }
    .backpacking_makingfacility_cards {
        margin-left: 0px;
    }
    .making_facility_cards {
        display: grid;
        grid-template-columns: none;
        gap: 46px;
        margin-top: 66px;
    }
    .making_card {
        text-align: center;
    }
    .making_title {
        margin-top: 26.33px;
    }
    #JoinCommunityManagers {
        margin-top: 190px;
    }
    .joincommunity {
        display: grid;
        grid-template-columns: none;
    }
    .joincommunity_left_data {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .left_data_text {
        margin-left: 0px;
    }
    .joincommunity_title {
        width: 345px;
        text-align: center;
        font-size: 33px;
    }
    .joincommunity_about {
        width: 345px;
        text-align: center;
    }
    .joincommunity_btn {
        margin: 48px auto;
    }
    .right_data_images_cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .person_about {
        margin-top: 5px;
    }
    .data_image_card {
        margin-top: 35px;
    }
    #OurAdvantages {
        margin-top: 190px;
    }
    .backpacking_title {
        font-size: 33px;
        text-align: center;
    }
    .advantages_cards {
        display: grid;
        grid-template-columns: none;
    }
    #FooterBackPacking {
        margin-top: 90px;
    }
    .footer_top_data {
        padding: 33px 71px !important;
        display: block;
    }
    .discover_network {
        padding: 20px 0px;
    }
    .manager_network {
        padding: 20px 0px;
    }
    .asistance_network {
        padding: 20px 0px;
    }
    .meet_comfort {
        width: 0px;
    }
    .end_footer {
        display: block;
        margin-left: 10px;
    }
    .footer_menu {
        margin-top: 10px;
        width: 345px;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    #BackPacking {
        width: 162%;
        height: 100vh;
    }
    .backpacking_navbar {
        width: 162%;
    }
    #EasyCamper {
        width: 162%;
        margin-top: 306px;
    }
    .data_title h1 {
        margin-top: 34px;
    }
    .backpacking_data {
        position: absolute;
        width: 660px;
        height: 436px;
    }
    .backpacking_easycamper_cards {
        margin: 0px 50px;
    }
    .easy_camper_cards {
        display: grid;
        column-count: 3;
        gap: 61px;
        grid-template-columns: 30% 30% 30%;
    }
    #MakingFacility {
        margin-top: 192px;
    }
    .making_facility_cards {
        display: grid;
        grid-template-columns: 32% 32% 32% 32%;
        gap: 68px;
        margin-top: 112px;
    }
    .making_about {
        width: 278px;
    }
    .backpacking_makingfacility_cards {
        margin-left: 15px;
    }
    .backpacking_title {
        width: 101%;
    }
    #JoinCommunityManagers {
        margin-top: 190px;
        width: 162%;
    }
    .joincommunity {
        display: grid;
        grid-template-columns: 30% 65%;
        gap: 36px;
    }
    .left_data_text {
        margin-left: 52px;
        position: relative;
    }
    #OurAdvantages {
        margin-top: 232px;
    }
    .backpacking_makingfacility_cards {
        margin-left: 83px;
    }
    .advantages_cards {
        display: grid;
        grid-template-columns: 50% 50% 50%;
        gap: 62px;
        margin-top: 112px;
    }
    .backpacking_title {
        width: 101%;
    }
    #FooterBackPacking {
        width: 162%;
        margin-top: 190px;
    }
}

@media (min-width: 769px) and (max-width: 1025px) {
    .backpacking_easycamper_cards {
        margin-left: 19px;
    }
    .easy_camper_cards {
        display: grid;
        column-count: 3;
        gap: 30px;
        grid-template-columns: 310px 310px 310px;
    }
    .card-title {
        font-size: 22px;
    }
    .backpacking_easycamper_cards {
        margin-left: 19px;
    }
    .easy_camper_cards {
        display: grid;
        column-count: 3;
        gap: 30px;
        grid-template-columns: 310px 310px 310px;
    }
    .card-title {
        font-size: 22px;
    }
    .backpacking_makingfacility_cards {
        margin-left: 12px;
    }
    .making_facility_cards {
        display: grid;
        grid-template-columns: 230px 230px 230px 230px;
        gap: 30px;
        margin-top: 112px;
    }
    .left_data_text {
        margin-left: 0px;
    }
    .joincommunity {
        display: grid;
        grid-template-columns: 307px 715px;
        gap: 1px;
    }
    .right_data_images_cards {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .backpacking_makingfacility_cards {
        margin-left: 12px;
    }
    .advantages_cards {
        display: grid;
        grid-template-columns: 334px 334px 334px;
        gap: 5px;
        margin-top: 112px;
    }
}

@media (min-width: 1024px) and (max-width: 1445px) {
    .backpacking_navbar {
        width: 139%;
    }
    .backpacking_image {
        width: 139.7%;
    }
    .easy_camper_cards {
        display: grid;
        column-count: 3;
        gap: 96px;
        grid-template-columns: 482px 482px 482px;
    }
    .making_facility_cards {
        display: grid;
        grid-template-columns: 390px 390px 390px 390px;
        gap: 29px;
        margin-top: 112px;
    }
    .backpacking_easycamper_cards {
        margin-left: 156px;
    }
    .backpacking_makingfacility_cards {
        margin-left: 125px;
    }
    .joincommunity {
        display: grid;
        grid-template-columns: 610px 940px;
        gap: 69px;
        margin-left: 59px;
    }
    .advantages_cards {
        display: grid;
        grid-template-columns: 393px 393px 393px;
        gap: 92px;
        margin-top: 112px;
    }
    #FooterBackPacking {
        width: 139.7%;
    }
}