#BackPacking {
    width: 100%;
    height: 140.5vh;
}

.backpacking_image {
    width: 100%;
    height: 650px;
    background-image: url("../images/Rectangle\ 1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: initial;
}

.backpacking_navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
    position: absolute;
}

.logo {
    margin-left: 122px;
}

.personal_info {
    margin-right: 122px;
    width: 86px;
    height: 53px;
    background-color: white;
    border-radius: 26.5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.personal_info i {
    font-size: 11px;
    margin-right: 8.4px;
}

.backpacking_data {
    position: absolute;
    width: 741px;
    height: 537px;
    left: 63px;
    top: 384px;
    background: #FFFFFF;
    box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.1);
}

.data_title h1 {
    width: 521px;
    height: 147px;
    margin-left: 64px;
    margin-top: 96px;
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 39px;
    line-height: 49px;
    color: #000000;
}

.data_text {
    margin-top: 29px;
    width: 515px;
    height: 96px;
    margin-left: 63px;
}

.data_text p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    opacity: 0.6;
}

.explore_btn {
    margin-top: 29px;
    margin-left: 62px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px 12px 16px;
    background: #F78065;
    outline: none;
    border: none;
    width: 250px;
    height: 65px;
}

.explore_btn h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 125%;
    margin-left: 8px;
    color: white;
}

#EasyCamper {
    width: 100%;
    margin-top: 128px;
}

.backpacking_easycamper_cards {
    margin-left: 81px;
}

.easy_camper_cards {
    display: grid;
    column-count: 3;
    gap: 41px;
    grid-template-columns: 386px 386px 386px;
}

.camper_card_data {
    margin-top: 84px;
}

.card-title {
    font-family: Merriweather;
    font-weight: 800;
    font-size: 24px;
    line-height: 1.3em;
}

.card_about {
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    font-style: normal;
    line-height: 1.2em;
}

.card_foot_about {
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    margin-top: 28.13px;
    font-weight: 500;
    color: #F78065;
    line-height: 1.1em;
}

#MakingFacility {
    margin-top: 253px;
}

.backpacking_makingfacility_cards {
    margin-left: 100px;
}

.backpacking_title {
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
}

.making_facility_cards {
    display: grid;
    grid-template-columns: 275px 275px 275px 275px;
    gap: 46px;
    margin-top: 112px;
}

.making_icon {
    font-size: 26px;
}

.making_title {
    margin-top: 69.33px;
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
}

.making_about {
    margin-top: 31px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    height: 72px;
    line-height: 20px;
}

.show_me {
    margin-top: 16px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
}

.show_me a {
    color: #F78065;
    text-decoration: none;
}

#JoinCommunityManagers {
    margin-top: 255px;
}

.joincommunity {
    display: grid;
    grid-template-columns: 425px 790px;
    gap: 100px;
}

.left_data_text {
    margin-left: 100px;
    position: relative;
}

.joincommunity_left_data {
    width: 375px;
}

.joincommunity_title {
    width: 325px;
    height: 171px;
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
}

.joincommunity_about {
    width: 325px;
    height: 66px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    opacity: 0.5;
    margin-top: 32px;
}

.joincommunity_btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px 12px 16px;
    width: 250px;
    height: 65px;
    background: #F78065;
    color: white;
    margin-top: 48px;
    border: none;
    font-size: 18px;
}

.person_about {
    margin-top: 24px;
}

.person_about_name {
    width: 225px;
    height: 30px;
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
}

.person_about_country {
    margin-top: 8px;
    width: 43px;
    height: 17px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #3F3D56;
}

.person_about_site {
    margin-top: 11px;
    width: 120px;
    height: 22px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #F78065;
}

.right_data_images_cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#OurAdvantages {
    margin-top: 232px;
}

.advantages_cards {
    display: grid;
    grid-template-columns: 386px 386px 386px;
    gap: 41px;
    margin-top: 112px;
}

#FooterBackPacking {
    margin-top: 251px;
    width: 100%;
    height: 575px;
    background: #F7F7F7;
}

.footer_top_data {
    display: flex;
    justify-content: space-between;
    padding: 96px 100px;
}

.easy_camper_title {
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    width: 155px;
    height: 30px;
}

.meet_comfort {
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    width: 304px;
    height: 240px;
}

.network_title {
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    width: 195px;
    height: 23px;
}


/* .discover_network_list {
    margin-top: 24px;
} */

.discover-link {
    margin-top: 24px;
}

.discover-link a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    width: 104px;
    height: 17px;
    text-decoration: none;
}

.line {
    height: 1px;
    width: 90%;
    margin: 10px auto;
    background-color: black;
}

.end_footer {
    display: flex;
    margin-left: 100px;
    justify-content: space-between;
    margin-top: 28px;
}

.eazy_camper {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}

.footer_menu {
    margin-right: 103px;
    width: 422px;
}

.menu_foo_links {
    display: flex;
    justify-content: space-between;
}

.menu_foo_link a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
}